<h2 class="text-center text-white mt-5"><%= @article.title.capitalize %></h2>
<div class="container d-flex justify-content-center p-5">
    <div class="card w-75 text-center shadow-lg rounded ">
        <div class="card-header font-italic font-weight-bold">
            by <%= link_to @article.user.username, @article.user %>
            <div class="mt-2">
                <%= link_to(gravatar_for(@article.user))%>
            </div>
            <%if (@article.categories.count > 0)%>
                <div class="dropdown my-3">
                    <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>

                    <div class="dropdown-menu">
                        <% @article.categories.each do |category| %>
                            <%= link_to category.name, category_path(category), class: "dropdown-item"  %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="card-body">
            <pre class="card-text text-justify p-3"><%= @article.description%></pre>
            <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
                <div class= "container">
                    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
                    <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"%>
                </div>
            <% end %>
        </div>
        <div class="card-footer text-muted">
            <small>
                Created <%= time_ago_in_words(@article.created_at)%> ago
                <% if @article.created_at != @article.updated_at%>
                    / Edited <%= time_ago_in_words(@article.updated_at)%> ago
                <%end%>
            </small>
        </div>
    </div>
</div>
<%= link_to "[Back to articles listing]", articles_path, class: "mt-2 text-center text-info"%>


