<h2 class="text-center text-white mt-5"><%= @article.title.capitalize %></h2>
<div class="container d-flex justify-content-center p-5">
    <div class="card w-75 text-center shadow-lg rounded ">
        <div class="card-header font-italic font-weight-bold">
            by User
        </div>
        <div class="card-body">
            <pre class="card-text text-justify p-3"><%= @article.description%></pre>
            <div class= "container">
                <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %>
                <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger"%>
            </div>
        </div>
        <div class="card-footer text-muted">
            <small>
                Created <%= time_ago_in_words(@article.created_at)%> ago
                <% if @article.created_at != @article.updated_at%>
                    / Edited <%= time_ago_in_words(@article.updated_at)%> ago
                <%end%>
            </small>
        </div>
    </div>
</div>


